.App{
padding: 0;
}

table, td{
  border: solid black 2px;
}


.action-group{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;

}
.action-group button {
  width: 50%;
  padding: 5px;
  color: white;
  font-size: 2em;
  border-radius: 0;
  border: none;
}
button:hover{
  cursor: pointer;
}
button:focus{
  outline: none;
}
.action-group .red{
  background: red;
}

.action-group .green{
  background: green;
}

.transaction{
  background: white;
  box-shadow: 1px 1px 1px #9c9c9c;
  border-radius: 3px;
  border: solid 1px #a2a2a2;
  padding: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 8px;
}
.transaction div{
  flex: 3;
}
.transaction .timestamp {
  font-size: 10px;
  color: #676161;
}
.transaction .entry{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.transaction .entry h1{
  font-size: 1em;
}

section .empty {
  text-align: center;
  background: #d2d2d2;
  border: none;
  font-size: 20px;
  color: #565454;
  height: 50px;
  padding-top: 1rem;
}
.transaction .in {
  color: green;
  text-align: center;
}

.transaction .out {
  background-color: #ffcbcb;
  color: red;
  text-align: center;
}


.cash-in-hand{
  position: fixed;
  top: 1%;
  left: 1%;
}
.cash-in-hand h1{
  font-size: 1em;
  color: green;
}
.cash-in-hand p{
  color: gray;
}
.header {
  border-bottom: solid 1px #eee;
  box-shadow: 0px 13px 8px 0px #eee;
}
.header>:first-child {
  text-align: center;
}

.today-balance{
  position: fixed;
  top: 1%;
  right: 1%;
}
.today-balance h1{
  font-size: 1em;
  color: green;
}
.today-balance p{
  color: gray;
}

.model {
  background-color: #000000cc;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.model-content{
  background: white;
  width: 50%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
}
.model-content input{
  width: 96%;
  font-size: 3em;
  padding-left: 15px;
}
.model-content textarea{
  width: 98.6%;
  height: 100px;
  margin-top: 5px;
  padding-left: 5px;
  padding-top: 5px;
}
.model-content button{
  width: 100%;
}

.model-content button:disabled{
  opacity: 0.5;
}

.model-content .green{
  font-size: 3em;
  padding: 5px;
  background: green;
  color: white;
}
.model-content .red{
  font-size: 3em;
  padding: 5px;
  background: red;
  color: white;
}
.model-content .close-btn{
  font-size: 1em;
  padding: 5px;
  background: #a9a9a9;
  color: white;
  margin-top: 5px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
